h1 {
text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    text-align: center;
    width: 250px;
    height: 250px;
    margin: 20px;
}

a {
    font-size: 20px;
    text-decoration: none;
}
.cherry-markup:hover {
    box-shadow: -1px 10px 27px -3px rgba(0,0,0,0.41);
}
.cherry-markup {
    width: 250px;
    border-style: none;
}
 .temporary {
     border: 2px solid lightgray;
 }