@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular-webfont.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium-webfont.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold-webfont.woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  min-width: 1200px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slier {
  position: relative;
}

.slider-control {
  position: absolute;
  bottom: 95px;
  right: 45.5%;
  width: 90px;
}

.slider-control i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control .active::before {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #c1c1c1;
}

.slider-item {
  display: none;
  padding: 90px 0px 80px 0px;
}

.is-active {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 28px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 28px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 28px;
}

.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:focus,
.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation {
  display: flex;
  color: #000000;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 650;
  background-color: #eeeeee;
}

.site-navigation {
  display: flex;
  width: 640px;
}

.site-navigation li {
  margin-right: 48px;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.site-navigation,
.backet-list {
  list-style: none;
  padding-top: 75px;
}

.site-navigation a,
.backet-list a {
  color: #000000;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus {
  color: #a6a6a6;
}

.backet-list {
  width: 116px;
}

.backet-list li {
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

.backet-list a:hover {
  color: #fb565a;
}

.backet-list a::after {
  position: absolute;
  top: 7px;
  left: -30px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  fill: blue;
}

.main-header {
  background-color: #eeeeee;
}

.main-header h1 {
  background-color: #eeeeee;
  font-size: 55px;
  line-height: 55px;
  padding-bottom: 90px;
  padding-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}

.main-header-logo {
  width: 360px;
  padding-top: 48px;
}

.main-header-logo img:hover {
  opacity: 80%;
}

.main-header-logo img:active {
  opacity: 30%;
}

.product-service {
  position: relative;
  font-size: 16px;
  margin-bottom: 120px;
}

.product-service::after {
  position: absolute;
  bottom: -80px;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.product-service h3 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0;
}

.service-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.service-item {
  width: 300px;
  margin-right: 100px;
}

.service-item img {
  margin-bottom: 25px;
}

.service-item p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.servise-button {
  width: 160px;
}

.app-button {
  background-color: #00ca74;
}

.app-button:hover {
  background-color: #00bc6c;
}

.app-button:focus,
.app-button:active {
  background-color: #00aa62;
}

.presentations-button {
  background-color: #efc84a;
}

.presentations-button:hover {
  background-color: #eab534;
}

.presentations-button:focus,
.presentations-button:active {
  background-color: #e5a722;
}

.about-us {
  position: relative;
  display: flex;
  margin-bottom: 125px;
}

.about-us::after {
  position: absolute;
  bottom: -60px;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.specialization {
  flex-basis: 660px;
  padding: 0;
  margin: 0;
  margin-right: 140px;
}

.specialization p {
  margin-bottom: 40px;
}

.about-us-title {
  display: block;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 30px;
  padding-top: 40px;
}

.about-us-list {
  list-style: none;
}

.specialization .list-title {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
}

.about-us-list li {
  position: relative;
  margin-left: 38px;
  margin-bottom: 30px;
}

.about-us-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -35px;
  top: 50%;
  background-color: #fb565a;
}

.advantages {
  width: 400px;
}

.advantages p {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 38px;
}

.advantages-table th {
  position: relative;
  font-size: 45px;
  text-align: left;
  padding-bottom: 30px;
}

.advantages-table th::after {
  position: absolute;
  content: "%";
  bottom: 35px;
  font-size: 25px;
}

.project {
  position: relative;
  margin-bottom: 130px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.project::after {
  position: absolute;
  bottom: -40px;
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.project-list li {
  width: 200px;
  margin-left: 70px;
  /* fix */
}

.project-list a {
  opacity: 0.2;
}

.project-list a:hover {
  opacity: 1;
}

.contact {
  position: relative;
  background-image: url("../img/map.jpg");
  height: 420px;
  width: 100%;
  margin-bottom: 68px;
}

.contact-modal {
  position: absolute;
  top: 70px;
  left: 350px;
  padding: 50px;
  background-color: #ffffff;
  width: 320px;
}

.contact-modal h2 {
  font-size: 18px;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-bottom: 25px;
  width: 220px;
}

.contact-modal p {
  width: 220px;
  margin-bottom: 30px;
}

.contact-modal-button {
  margin: 0;
  width: 220px;
}

.main-footer {
  display: flex;
  margin-bottom: 75px;
}

.social-network {
  margin-right: 120px;
}

.social-network-icon {
  display: flex;
  width: 260px;
}

.social-button {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-button:hover {
  background-color: #fb565a;
}

.main-footer-advantages {
  width: 560px;
}

.main-footer-advantages p:first-child {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.modal {
  display: none;
  background-color: #ffffff;
  position: fixed;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-write-us {
  width: 960px;
  top: 20%;
  left: 30%;
  padding-top: 67px;
  padding-right: 100px;
  padding-left: 100px;
}

.modal-show {
  display: block !important;
}

.modal h2 {
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 45px;
}

.modal input {
  position: relative;
  width: 360px;
}

.text-modal {
  position: absolute;
  top: 125px;
}

.form-container {
  width: 760px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.mail-form p {
  margin-bottom: 60px;
}

.mail-form input {
  height: 48px;
  border: 2px #eeeeee solid;
  border-radius: 3px;
  padding-left: 14px;
}

.text-area {
  position: relative;
}

.mail-form textarea {
  border: 2px #eeeeee solid;
  border-radius: 3px;
  height: 117px;
  padding-left: 14px;
  padding-top: 12px;
  resize: none;
}

.form-container p:last-child {
  margin-bottom: 50px;
}

.mail-form textarea {
  width: 760px;
}

.mail-form .text-area label {
  top: 190px;
}

.button-modal {
  margin-bottom: 80px;
}

.button-close-modal {
  font-size: 0;
  position: absolute;
  top: 75px;
  right: 90px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.button-close-modal::before,
.button-close-modal::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 3px;
  opacity: 0.3;
  background-color: #fb565a;
}

.button-close-modal::before {
  transform: rotate(45deg);
}

.button-close-modal::after {
  transform: rotate(-45deg);
}

.button-close-modal:hover::after,
.button-close-modal:hover::before {
  opacity: 100%;
}

/* Catalog page style */

.filter {
  width: 260px;
}

.filter-option {
  padding-left: 35px;
  margin-bottom: 20px;
}

.filter-grid,
.filter-features {
  margin-bottom: 40px;
}

.filter-grid legend,
.filter-features legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.filter-option label {
  position: relative;
  font-size: 16px;
  line-height: 20px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  width: 25px;
  height: 25px;
  border: 4px #a6a6a6 solid;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -27.5px;
  top: 6.5px;
  width: 10px;
  height: 10px;
  background-color: #a6a6a6;
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  width: 25px;
  height: 25px;
  border: 2px #a6a6a6 solid;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -27.5px;
  top: 3px;
  width: 20px;
  height: 10px;
  border-left: 4px solid #a6a6a6;
  border-bottom: 4px solid #a6a6a6;
  transform: rotate(-45deg);
  filter: drop-shadow(0px 2px 0 #fff) drop-shadow(0px -2px 0 #fff);
}

.filter-button {
  width: 260px;
  background-color: #eeeeee;
  color: #000000;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active,
.filter-button:focus {
  background-color: #d5d5d5;
  border-top: 3px #bfbfbf solid;
  color: #959595;
}

.catalog-column {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs-filter {
  display: flex;
  margin-bottom: 50px;
}

.breadcrumbs-filter p {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin-right: 235px;
}

.breadcrumbs-filter-list {
  display: flex;
}

.breadcrumbs-filter-list li {
  position: relative;
}

.breadcrumbs-filter-list a {
  margin-left: 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #b7b7b7;
}

.breadcrumbs-current a {
  color: #000000;
}

.breadcrumbs-filter-arrow-down a {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: -48px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-down.png");
}

.breadcrumbs-filter-arrow-up a {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: -78px;
  width: 10px;
  height: 10px;
  background-image: url("../img/icon-down.png");
  transform: rotate(180deg);
}

.active-arrow {
  opacity: 0.3;
}

.catalog-template {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  margin-bottom: 63px;
}

.catalog-item::before {
  position: absolute;
  content: url("../img/browser.svg");
  top: -39px;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:nth-child(odd) {
  margin-right: 30px;
}
.catalog-item:hover .catalog-item-card-hidden {
  display: block;
}
.catalog-item-card-hidden {
  display: none;
  position: absolute;
  width: 360px;
  height: 232px;
  top: 347px;
  background-color: #eeeeee;
}


