@font-face {
  font-family: "Roboto";
  src: url("/Nerds/fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  min-width: 1200px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slier {
  position: relative;
}

.slider-control {
  position: absolute;
  bottom: 95px;
  right: 45.5%;
  width: 90px;
}

.slider-control i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control .active::before {
  position: absolute;
  top: 5px;
  left: 4.7px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #c1c1c1;


}

.slider-item {
  display: none;
  padding: 90px 0px 80px 0px;
  font-size: ;
}

.slider-item:nth-child(1) {
  display: block;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 28px;
}

.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:focus,
.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation {
  color: #000000;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 650;
  background-color: #eeeeee;
}

.navigation-content {
  display: flex;
}

.site-navigation {
  display: flex;
  width: 640px;
}

.site-navigation li {
  margin-right: 48px;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.site-navigation,
.backet-list {
  list-style: none;
  padding-top: 75px;
}

.site-navigation a,
.backet-list a {
  color: #000000;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus {
  color: #a6a6a6;
}

.backet-list {
  width: 116px;
}

.backet-list li {
  position: relative;
  font-size: 16px;
  font-weight: 600;
}

.backet-list a:hover {
  color: #fb565a;
}

.backet-list a::after {
  position: absolute;
  top: 7px;
  left: -30px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("/img/cart-icon.svg");
  fill: blue;
}

.main-header-logo {
  width: 360px;
  padding-top: 48px;
}

.main-header-logo img:hover {
  opacity: 80%;
}

.main-header-logo img:active {
  opacity: 30%;
}

.product-service {
  font-size: 16px;
  margin-bottom: 80px;
}

.product-service h3 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0;
}

.service-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.service-item {
  width: 300px;
  margin-right: 100px;
}

.service-item img {
  margin-bottom: 25px;
}

.service-item p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.servise-button {
  width: 160px;
}

.app-button {
  background-color: #00ca74;
}

.app-button:hover {
  background-color: #00bc6c;
}

.app-button:focus,
.app-button:active {
  background-color: #00aa62;
}

.presentations-button {
  background-color: #efc84a;
}

.presentations-button:hover {
  background-color: #eab534;
}

.presentations-button:focus,
.presentations-button:active {
  background-color: #e5a722;
}

.about-us {
  display: flex;
  margin-bottom: 80px;
}

.specialization {
  width: 660px;
  padding: 0;
  margin: 0;
  margin-right: 140px;
}

.about-us-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us-list {
  list-style: none;
}

.advantages {
  width: 400px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.project-list li {
  width: 260px;
  margin-right: 20px;
  /* fix */
}

.project-list a {
  opacity: 0.2;
}

.project-list a:hover {
  opacity: 1;
}

.contact {
  position: relative;
  background-image: url("../img/map.jpg");
  height: 420px;
  width: 100%;
}

.contact-modal {
  position: absolute;
  top: 70px;
  left: 91px;
  padding: 50px;
  background-color: #ffffff;
  width: 320px;
}

.contact-modal h2 {
  font-size: 18px;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 220px;
}

.contact-modal p {
  width: 220px;
}

#blat {
  margin: 0;
}

.contact-modal-button {
  margin: 0;
  width: 220px;
}