@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular-webfont.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-medium-webfont.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-bold-webfont.woff2");
    font-weight: 700;
    font-style: normal;
}



/* main style */

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    min-width: 1280px;
    margin: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    background-color: #3f72af;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #112d4e;
}

h1,
h2,
h3 {
    font-family: "PlayfairDisplay", serif;
}


fieldset {
    border: none;
}

p,
ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container-section {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


.main-header {
    margin-bottom: 103px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 23px;
}

.main-header__logo {
    width: 200px;
}

.site-list {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    padding-top: 10px;
}

.site-list__item {
    padding: 0;
    margin-left: 50px;
}

.site-list__item a {
    color: #666666;
}

.site-list__item:first-child {
    margin-left: 0;
}

.contact-us-list {
    padding: 0;
    width: 135px;
    margin-left: 50px;
    text-align: center;
}

.contact-us-list__item {
    border: 1px solid #666666;
    border-radius: 10px
}

.contact-us-list__item:hover {
    background-color: #3f72af;
}

.contact-us-list__button {
    display: inline-block;
    padding: 10px 25px;
    color: #666666;
}

.contact-us-list__button:hover {
    color: white;
}

.header-contact {
    display: flex;
    width: 1280px;
    margin: 0 auto;
    background-color: #f9f7f7;
}

.header-contact__form {
    display: flex;
    width: 500px;
    padding-left: 93px;
    margin-right: 94px;
    padding-bottom: 89px;
}

.form-header {
    width: 294px;
    margin-bottom: 70px;

}

.form-header__text-big {
    font-family: "PlayfairDisplay medium", serif;
    font-size: 50px;
    line-height: 72px;
    font-weight: 500;
    padding-top: 100px;

}

.form-header__text-small {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 21px;
    list-style: 72px;
}

.form-header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 370px;
}

.form-header__list-item:first-child {
    margin-bottom: 30px;
}


.form-header__input {
    background-color: #dbe2ef;
    border: none;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 20px;
    border-radius: 100px;
    font-size: 16px;
    color: #666666;
}


.input-phone {
    width: 370px;
}

.input-date {
    width: 170px;
}

.form-header__button {
    font-size: 16px;
    padding: 19px 60px;
    margin-left: 30px;
}

.header-contact__image {
    width: 725px;
    background-color: #dbe2ef;
}

.header-contact__image img {
    position: relative;
    top: 235px;
    left: 103px;
}

.section-header {
    position: relative;
    font-size: 36px;
    text-align: center;
    font-family: "PlayfairDisplay", serif;
    font-weight: 300;
    margin-bottom: 34px;
}

.section-header::after {
    position: absolute;
    top: 46px;
    left: 49%;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #3f72af;

}

.section-header__text {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 61px;
}


.features {
    margin-bottom: 100px;
}

.features__list {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding: 31px 67px 28px 67px;
}

.feature__list-item {
    width: 270px;
    margin-right: 115px;
    text-align: center;

}

.feature__list-item:last-child {
    margin-right: 0;
}


.features__list__icon {
    margin-bottom: 30px;
}

.features__list__header {
    font-family: "PlayfairDisplay", serif;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 25px;
}

.features__list__text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.how-works {
    background-color: #f9f7f7;
    padding: 69px 118px 66px 56px;
    margin-bottom: 100px;
}


.how-works__list {
    display: flex;
    justify-content: space-between;
}

.how-works__list-item {
    width: 315px;
}

.how-works__number {
    font-family: "PlayfairDisplay", serif;
    font-size: 30px;
    font-weight: 600;
}

.how-works__text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.call-action {
    width: 756px;
    height: 393px;
    margin: 0 auto;
    background-image: url("../img/cal-to-action_bg.png");
    box-shadow: 0 0 30px 0 rgba(63, 114, 175, 0.5);
    margin-bottom: 100px;
}

.call-action__window {
    width: 532px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    color: #ffffff;
}

.call-action__header {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}

.call-action__text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 46px;
}

.call-action__button {
    background-color: #112d4e;
}

.compare-plans {
    background-image: url("../img/compare-plans_bg.png");
    width: 1280px;
    height: 222px;
    margin: 0 auto;
    color: #ffffff;
    margin-bottom: 100px;
}

.compare-plans__list {
    display: flex;
    justify-content: center;
    padding: 60px 90px 60px 90px;
    
}

.compare-plans__item {
    width: 270px;
    margin-right: 30px;
}

.compare-plans__item:last-child {
    margin-right: 0;
    padding-top: 40px;
}

.compare-plans__form-label {
    padding-bottom: 16px;
    display: inline-block;
    font-size: 18px;
}

.compare-plans__form-input {
    display: inline-block;
    width: 270px;
    background-color: #dbe2ef;
    border: none;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 20px;
    border-radius: 100px;
    font-size: 16px;
    color: #666666;
}


.compare-plans__form-button {
    width: 270px;
    background-color: transparent;
    border: solid 1px #f9f7f7;
    padding: 16px 71px 16px 71px;
}