@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular-webfont.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-medium-webfont.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-bold-webfont.woff2");
    font-weight: 700;
    font-style: normal;
}



/* main style */

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    min-width: 1280px;
    margin: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    background-color: #3f72af;
    color: #ffffff;
    overflow: hidden;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #112d4e;
}

h1,
h2,
h3 {
    font-family: "PlayfairDisplay", serif;
}


fieldset {
    border: none;
}

p,
ul {
    padding: 0;
    margin: 0;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


.main-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin: 0;
}

.main-header__logo {
    width: 200px;
}

.site-list {
    display: flex;
    justify-content: flex-end;
    width: 800px;
    padding-top: 10px;
}

.site-list__item {
    padding: 0;
    margin-left: 50px;
}

.site-list__item a {
    color: #666666;
}

.site-list__item:first-child {
    margin-left: 0;
}

.contact-us-list {
    padding: 0;
    width: 135px;
    margin-left: 50px;
    text-align: center;
}

.contact-us-list__item {
    border: 1px solid #666666;
    border-radius: 10px
}

.contact-us-list__item:hover {
    background-color: #3f72af;
}

.contact-us-list__button {
    display: inline-block;
    padding: 10px 25px;
    color: #666666;
}

.contact-us-list__button:hover {
    color: white;
}

.header-contact {
    display: flex;
}

.header-contact__form {
    display: flex;
    width: 500px;

}

.form-header {
    width: 310px;
}

.form-header__text-big {
    font-family: "PlayfairDisplay medium", serif;
    font-size: 50px;
    line-height: 72px;
    font-weight: 500;
    padding-top: 100px;
    
}