@font-face {
    font-family: 'gilroyextrabold';
    src: local('gilroyextrabold'), local('gilroyextrabold'), url('../font/gilroyextrabold.woff2') format('woff2'), url('../font/gilroyextrabold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'gilroylight';
    src: local('gilroylight'), local('gilroylight'), url('../font/gilroylight.woff2') format('woff2'), url('../font/gilroylight.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'opensans';
    src: local('opensans'), local('PTSans-Narrow'), url('../font/opensans.woff2') format('woff2'), url('../font/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensanslight';
    src: local('opensanslight'), local('PTSans-Narrow'), url('../font/opensanslight.woff2') format('woff2'), url('../font/opensanslight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "gilroy" , Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style: none;
}