@font-face {
  font-family: "gilroyextrabold";
  src: local("gilroyextrabold"), local("gilroyextrabold"),
    url("../font/gilroyextrabold.woff2") format("woff2"),
    url("../font/gilroyextrabold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroylight";
  src: local("gilroylight"), local("gilroylight"),
    url("../font/gilroylight.woff2") format("woff2"),
    url("../font/gilroylight.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: local("opensans"), local("PTSans-Narrow"),
    url("../font/opensans.woff2") format("woff2"),
    url("../font/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "opensanslight";
  src: local("opensanslight"), local("PTSans-Narrow"),
    url("../font/opensanslight.woff2") format("woff2"),
    url("../font/opensanslight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  position: relative;
  font-family: "gilroy";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  z-index: 1;
  color: #000000;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
}

.button::before {
  position: absolute;
  top: 43%;
  z-index: -1;
  content: "";
  width: 100%;
  left: 0;
  height: 8px;
  background-color: #f0c52e;
}

.button:hover::before {
  transform: translateY(-43%);
  height: 73%;
  transition: height 0.3s;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
}

.main-header {
  position: relative;
  background-color: #f7e296;
  margin-top: 40px;
}

.main-header-logo {
  position: absolute;
  width: 165px;
  height: 35px;
  top: -22px;
  left: 60px;
}

.form-search {
  position: relative;
  width: 440px;
  margin-top: 35px;
}

.form-search::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 19px;
  left: 5px;
  background-image: url("../img/search.svg");
}

.main-header-search {
  position: relative;
  border: none;
  border-bottom: 2px solid transparent;
  width: 357px;
  background-color: transparent;
  padding-left: 40px;
  padding-bottom: 15px;
  padding-top: 15px;
  outline: none;
}

.search-button {
  background-color: transparent;
  border: 2px solid #000000;
  margin-left: -3px;
  line-height: 30px;
  padding: 8px 18px;
  visibility: hidden;
}

.main-header-search:focus {
  border-bottom: 2px solid #000000;
}

.main-header-search:focus + .search-button {
  visibility: visible;
}

.search-button:hover,
.search-button:focus {
  background-color: #000000;
  color: #ffffff;
  visibility: visible;
}

.search-button:active {
  background-color: #000000;
  color: #747474;
  visibility: visible;
}

.main-header-up-menu {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin-left: 60px;
  margin-bottom: 43px;
}

.site-navigation-head {
  display: flex;
  width: 220px;
}

.user-login {
  width: 280px;
  margin-top: 35px;
  padding-left: 80px;
}

.user-login a {
  font-family: opensans;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.user-login li {
  position: relative;
}

.user-login a::before {
  position: absolute;
  content: url("../img/user.svg");
  top: 4px;
  left: -30px;
}

.user-login a:hover,
.user-login a:focus {
  opacity: 60%;
}

.user-login a:active {
  opacity: 30%;
}

.site-navigation-head li {
  position: relative;
  width: 95px;
  margin-left: 40px;
  text-align: right;
}

.site-navigation-head li:nth-child(1)::before {
  position: absolute;
  content: url("../img/compare.svg");
  top: 1px;
  left: -5px;
}

.site-navigation-head li:nth-child(2)::before {
  position: absolute;
  content: url("../img/cart.svg");
  top: 1px;
  left: 1px;
}

.site-navigation-head li:first-child {
  margin-left: 0;
}

.site-navigation-head {
  margin-top: 35px;
}

.site-navigation-head a {
  font-family: opensans;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.site-navigation-head a:hover,
.site-navigation-head a:focus {
  opacity: 60%;
}

.site-navigation-head a:active {
  opacity: 30%;
}

.site-navigation-head input {
  font-family: opensans;
  font-size: 15px;
  color: #000000;
  opacity: 30%;
  border: none;
}

.main-navigation {
  padding-bottom: 60px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  font-family: "gilroyextrabold";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 1040px;
  margin: 0 auto;
}

.site-navigation li {
  width: 122px;
}

.site-navigation .catalog-menu {
  width: 500px;
}

.site-navigation li:nth-child(3) {
  margin-right: 65px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  opacity: 60%;
}

.site-navigation a:active {
  opacity: 30%;
}

.catalog-menu-main {
  position: relative;
}

.catalog-menu-main:focus + .catalog-hidden,
.catalog-menu-main:hover + .catalog-hidden {
  visibility: visible;
}

.catalog-menu-main:after {
  position: absolute;
  content: "";
  top: 2px;
  right: -25px;
  opacity: 0.3;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
}

.catalog-hidden {
  display: flex;
  visibility: hidden;
  position: absolute;
  padding: 20px 60px 36px 0px;
  font-size: 15px;
  line-height: 36px;
  z-index: 5;
  width: 1060px;
  background-color: #f7e296;
}

.catalog-hidden:hover,
.catalog-hidden:focus,
.catalog-hidden:active {
  visibility: visible;
}

.catalog-hidden-1 {
  width: 180px;
  margin-right: 60px;
}

.catalog-hidden-1 li {
  width: 200px;
  margin-right: 0;
}

.catalog-hidden-2 {
  margin-right: 40px;
}

.catalog-hidden-2 li {
  width: 160px;
}

.catalog-hidden-3 li {
  width: 115px;
}

.catalog-hidden a {
  font-family: "opensans";
  font-size: 15px;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0px;
}

.temp {
  display: none;
  /* temporary */
}

.main-slider {
  position: relative;
  margin-bottom: 118px;
  z-index: 1;
}

.slider-list {
  background-image: linear-gradient(
    rgba(240, 197, 46, 0.5) 0,
    rgba(240, 197, 46, 0.5) 110px,
    transparent 110px
  );
}


.slide-item {
  display: none;
  position: relative;
}

.if-active {
  display: flex;
}

.slider-content-left {
  width: 560px;
  text-align: center;
  margin-right: 40px;
}

.slider-content-right {
  width: 460px;
  margin-top: 80px;
}

.slide-item-1 .slider-content-right::before {
  content: "01";
}

.slide-item-2 .slider-content-right::before {
  content: "02";
}

.slide-item-3 .slider-content-right::before {
  content: "03";
}

.slider-content-right::before {
  position: absolute;
  
  font-size: 179px;
  font-weight: 700;
  color: #ffffff;
  right: 50px;
  top: 50px;
}

.slider-content-right b {
  position: relative;
  font-size: 47px;
  line-height: 56px;
}

.slider-content-right b::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 9px;
  background-color: #ffffff;
  top: -45px;
}

.slide-content p {
  font-size: 15px;
  line-height: 30px;
}

.button-more {
  width: 220px;
  margin-bottom: 49px;
}

.slider-button {
  position: absolute;
  display: flex;
  top: 300px;
  right: 120px;
  width: 78px;
}

.slider-control {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-right: 21px;
  cursor: pointer;
}

.slider-control:last-child {
  margin-right: 0;
}

.slider-button .active-control::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid #000;
  border-radius: 50%;
}

.property td {
  padding-right: 45px;
}

.property tr:first-child {
  font-size: 36px;
}

.catalog-icon {
  margin-bottom: 100px;
}

.catalog-icon a {
  color: #000000;
}

.catalog-icon h3 {
  font-size: 18px;
  line-height: 24px;
}

.catalog-icon-list {
  width: 1060px;
  display: flex;
}

.catalog-icon-list li {
  margin-right: 40px;
}

.service-slider {
  background-color: #e5e5e5;
  display: flex;
  margin-bottom: 150px;
}

.catalog-icon-image {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  margin-bottom: 28px;
}

.catalog-icon-image:hover {
  background-color: rgba(240, 197, 46);
}

.services-slider-label {
  width: 160px;
  cursor: pointer;
}

.service-slider h3 {
  font-size: 47px;
}

.slider-service-item {
  display: none;
}

.slider-service-item.active {
  display: block;
}

.slider-service-item p {
  width: 430px;
  font-size: 15px;
  line-height: 30px;
}

.slider-service-item h3 {
  margin-bottom: 30px;
}

.services-slider-label {
  position: relative;
  font-family: "gilroy";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  z-index: 1;
  color: #000000;
  text-transform: uppercase;
  display: block;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
}

.slider-controls {
  position: relative;
  width: 300px;
  margin-right: 120px;
}

.slider-controls::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 320px;
  background-color: #000000;
  top: -60px;
  left: 270px;
}

.slider-controls label::before {
  position: absolute;
  top: 43%;
  z-index: -1;
  content: "";
  width: 100%;
  left: 0;
  height: 8px;
  background-color: #f0c52e;
}

/* .slider-controls:hover::before {   /* to realize from js
    transform: translateY(-43%);
    height: 73%;
    transition: height 0.3s;
} */

.service-control[id="slide-1"]:checked ~ .slider-controls label[for="slide-1"],
.service-control[id="slide-2"]:checked ~ .slider-controls label[for="slide-2"],
.service-control[id="slide-3"]:checked ~ .slider-controls label[for="slide-3"] {
  color: #f7e184;
}

.service-control[id="slide-1"]:checked
  ~ .slider-controls
  label[for="slide-1"]::after,
.service-control[id="slide-2"]:checked
  ~ .slider-controls
  label[for="slide-2"]::after,
.service-control[id="slide-3"]:checked
  ~ .slider-controls
  label[for="slide-3"]::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  top: 7px;
  right: 1px;
  z-index: -1;
  width: 100%;
  height: 40px;
  margin: 0;
  background-color: #000;
  transition: all 0.3s linear;
}

.service-control[id="slide-1"]:checked
  ~ .slider-controls
  label[for="slide-1"]::before,
.service-control[id="slide-2"]:checked
  ~ .slider-controls
  label[for="slide-2"]::before,
.service-control[id="slide-3"]:checked
  ~ .slider-controls
  label[for="slide-3"]::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 152px;
  z-index: -2;
  width: 120px;
  height: 40px;
  background-color: #000;
}

.brands-list {
  display: flex;
  width: 1060px;
  margin-bottom: 170px;
}

.brands-list li {
  opacity: 0.2;
}

.brands-list li:hover {
  opacity: 1;
}

.about-us-contact {
  display: flex;
  margin-bottom: 95px;
}

.about-us-contact h3 {
  position: relative;
  font-family: "gilroy", Arial, sans-serif;
  font-size: 47px;
  color: #000000;
  line-height: 48px;
  margin-bottom: 50px;
}

.about-us-contact h3::before {
  position: absolute;
  content: "";
  height: 7px;
  width: 80px;
  top: -45px;
  background-color: #000000;
}

.about-us-contact .button {
  width: 260px;
}

.about-us-contact p {
  font-family: "opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.about-us {
  width: 460px;
  margin-right: 140px;
}

.about-us ul {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  padding-left: 15px;
  margin-bottom: 60px;
  color: #000000;
  list-style: circle;
}

.about-us p {
  width: 460px;
  padding-bottom: 30px;
}

.contact p {
  padding-bottom: 30px;
}

.contact-map {
  display: block;
  margin-bottom: 65px;
}

/* footer */

.main-footer {
  font-family: "opensans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  background-color: #464646;
  color: #ffffff;
}

.main-footer a {
  color: #ffffff;
}

.footer-navigation {
  display: flex;
  padding-top: 66px;
}

.footer-logo {
  width: 800px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.site-navigation-footer {
  width: 360px;
  display: flex;
}

.site-navigation-footer li {
  position: relative;
  width: 100px;
  margin-right: 25px;
  text-align: right;
  opacity: 0.7;
}

.site-navigation-footer li:last-child {
  margin-right: 0;
}

.site-navigation-footer li:hover {
  opacity: 1;
}

.site-navigation-footer li:active {
  opacity: 0.3;
}

.user-enter::before {
  position: absolute;
  content: "";
  left: 30px;
  top: 9px;
  width: 15px;
  height: 15px;
  background-image: url("../img/user-yellow.svg");
  background-repeat: no-repeat;
}

.user-compare::before {
  position: absolute;
  content: "";
  left: 8px;
  top: 7px;
  width: 15px;
  height: 15px;
  background-image: url("../img/compare-yellow.svg");
  background-repeat: no-repeat;
}

.user-cart::before {
  position: absolute;
  content: "";
  left: 12px;
  top: 9px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-yellow.svg");
  background-repeat: no-repeat;
}

.adres-services-phone {
  display: flex;
  padding-top: 20px;
  padding-bottom: 62px;
}

.site-navigation-footer li .adres-services-phone {
  position: relative;
}

.adres-services-phone li {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 24px;
  text-transform: uppercase;
}

.adres-services-phone li:hover {
  opacity: 0.6;
}

.adres-services-phone li:active {
  opacity: 0.3;
}

.adres-services-phone ul {
  display: flex;
  width: 440px;
}

.adres-services-phone ul li {
  margin: 0 auto;
}

.adres-services-phone p {
  position: relative;
  width: 360px;
}

.footer-social-copyright {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 67px;
}

.footer-social-copyright::before {
  position: absolute;
  content: "";
  height: 7px;
  width: 80px;
  top: 0px;
  left: 0px;
  /* change later */
  background-color: #ffc600;
}

.footer-phone {
  width: 360px;
  text-align: right;
}

.social-copyright {
  display: flex;
  justify-content: space-between;
  width: 650px;
}

.social-icon-link {
  width: 148px;
  display: flex;
}

.social-icon {
  width: 32px;
  height: 32px;
  opacity: 0.3;
  margin-right: 22px;
}

.social-icon:hover {
  opacity: 0.6;
}

.social-icon:active {
  opacity: 0.1;
}
